<form class="categories-search" ng-submit="estimate()">
  <h2 class="categories-search-heading">Estimate your future auctions</h2>
  <div class="row">
    <div class="col-md-10"><input type="text" id="inputName" ng-model="auction.query" class="form-control" placeholder="Auction name" required="" autofocus=""></div>
    <div class="col-md-2"><button class="btn btn-md btn-primary btn-block" type="submit">Search</button></div>
  </div>
</form>
<br>
<div id="container-speed" style="width:100%; height:400px;"></div>
<br>
<div id="container" style="width:100%; height:400px;"></div>
