
<div class="row">
  <div class="col-md-5">
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
      <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
    </p>
  </div>
  <div class="col-md-5">
    <select class="form-control" name="size">
      <option value="pie">Pie chart</option>
      <option value="stack">Stack chart</option>
    </select>
  </div>
  <div class="col-md-2">
    <button class="btn btn btn-primary" role="button" ng-click="plotChart()">Subscribe</button></div>
  </div>
</div>

<div id="container" style="width:100%; height:400px;"></div>
